<section class="barra-navegacion"> 
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body " data-bs-theme="dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
            <li class="nav-item">
              <a class="nav-link color-blanco" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-blanco" href="#">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-blanco" href="#">Membresías</a>
            </li>
            <li class="nav-item">
              <a class="nav-link color-blanco" href="#">Contacto</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</section>
<div class="container bg-image rounded-3 background">
<section class="hero">
    <article class="hero-image">
      <div class="texto-div">
        <h2 class="display-2">Para sentirse pleno</h2>
      </div>
    </article>
</section>
<section class="seccion-carrusel">
    <%# <div class="text-center fuente-personalizada altura-texto-5">Inscríbete y comienza tu transformación.</div> %>
  <div class="text-center fuente-personalizada altura-texto-5">¡Líderes en bienestar!</div>
    <article>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%# <img src="https://picsum.photos/id/237/700/300" class="" alt="..."> %>
            <%= image_tag("slide-1.jpg", class: "d-block w-100", size: "700x400", alt: "gym") %>
            <div class="carousel-caption d-none d-md-block">
              <h3>Excelentes Instalaciones</h3>
              <p>Nuestra excelencia se refleja en nuestras instalaciones de primera clase. </p>
              <p>¡Descubre el gimnasio que siempre soñaste!</p>
            </div>
          </div>
          <div class="carousel-item">
            <%# <img src="https://picsum.photos/id/238/700/300" class="d-block w-100" alt="..."> %>
            <%= image_tag("slide-2.jpeg", class: "d-block w-100", size: "700x400", alt: "gym") %>
            <div class="carousel-caption d-none d-md-block">
              <h3>Personal capacitado</h5>
              <p>Tu éxito es nuestro éxito.</p>
              <p>Nuestro personal capacitado está listo para impulsarte hacia tus objetivos.</p>
            </div>
          </div>
          <div class="carousel-item">
            <%# <img src="https://picsum.photos/id/239/700/300" class="d-block w-100" alt="..."> %>
            <%= image_tag("slide-3.jpg", class: "d-block w-100", size: "700x400", alt: "gym") %>
            <div class="carousel-caption d-none d-md-block">
              <h3>Horario Flexible</h3>
              <p>En nuestro gimnasio, el tiempo nunca es un obstáculo.</p>
              <p>Disfruta de horarios flexibles que se adaptan a tu vida.</p>
            </div>
          </div>
          <div class="carousel-item">
            <%# <img src="https://picsum.photos/id/240/700/300" class="d-block w-100" alt="..."> %>
            <%= image_tag("slide-4.jpg", class: "d-block w-100", size: "700x400", alt: "gym") %>
            <div class="carousel-caption d-none d-md-block">
              <h3>Planes para todos</h3>
              <p>Obtén más por menos.</p>
              <p>Nuestros planes de membresía son la clave para una vida saludable sin comprometer tu presupuesto.</p>
            </div>
          </div>
          <div class="carousel-item">
            <%# <img src="https://picsum.photos/id/241/700/300" class="d-block w-100" alt="..."> %>
            <%= image_tag("slide-5.jpg", class: "d-block w-100", size: "700x400", alt: "gym") %>
            <div class="carousel-caption d-none d-md-block">
              <h3>Programas de entrenamiento personalizados</h3>
              <p>Tu viaje de acondicionamiento físico comienza con nosotros.</p>
              <p>Nuestros entrenadores diseñan programas a medida para ti.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </article>
</section>
<section id="experiencia" class="experiencia seccion-clara">
  <div class="text-center fuente-personalizada altura-texto-5">¡Los mejores planes!</div>
    <div class="container text-center">
      <div class="row">
        <div class="columna columna col-12 col-md-6 col-sm-12 col-lg-3 col-xl-3 col-xxl-3">
          <i class="bi bi-fire icono-grande"></i>
          <p class="experiencia-titulo">Mi mejor yo</p>
          <div class="row ">
            <div class="col">
               <p class="pfn pfn4"><i class="bi bi-check-lg chec"></i>Acceso ilimitado a todas las instalaciones</p>
               <p  class="pfn2"><i class="bi bi-check-lg chec"></i>Recibir asesoría básica de entrenamiento.</p>
               <p><i class="bi  bi-x-lg cross"></i>Plan nutricional hecho a la medida</p>
               <p><i class="bi  bi-x-lg cross"></i>App exclusiva para registrar y comparar tu progreso</p>
               <p><i class="bi  bi-x-lg cross"></i>Descuentos exclusivos en productos y servicios del gimnasio</p>
            </div>
            <div class="precio-contenedor precio-contenedorsup">
              <div class="precio">
                $500MXN pago mensual
              </div>
            </div>
          </div>
        </div>
        <div class="columna columna col-12 col-md-6 col-sm-12 col-lg-3 col-xl-3 col-xxl-3 duo-dinamico">
          <i class="bi bi-people-fill icono-grande"></i>
          <p class="experiencia-titulo">Dúo Dinámico</p>
          <div class="row">
            <div class="col">
              <p><i class="bi bi-check-lg chec"></i>Acceso ilimitado a todas las instalaciones para ti y un acompañante</p>
              <p class="pfn2"><i class="bi bi-check-lg chec"></i>Recibir asesoría básica de entrenamiento.</p>
              <p><i class="bi  bi-x-lg cross"></i>Plan nutricional hecho a la medida</p>
              <p><i class="bi  bi-x-lg cross"></i>App exclusiva para registrar y comparar tu progreso</p>
              <p><i class="bi  bi-x-lg cross"></i>Descuentos exclusivos en productos y servicios del gimnasio</p>
           </div>
           <div class="precio-contenedor precio-contenedorsup">
            <div class="precio">
              $700MXN pago mensual
            </div>
          </div>
          </div>
        </div>
        <div class="columna columna col-12 col-md-6 col-sm-12 col-lg-3 col-xl-3 col-xxl-3">
          <i class="bi bi-star-fill icono-grande"></i>
          <p class="experiencia-titulo">Sin Excusas</p>
          <div class="row">
            <div class="col">
               <p class="pfn pfn3"><i class="bi bi-check-lg chec"></i>Acceso ilimitado a todas las instalaciones</p>
               <p><i class="bi bi-check-lg chec"></i>Entrenamiento personalizado con un entrenador certificado.</p>
               <p><i class="bi  bi-check-lg chec"></i>Plan nutricional hecho a la medida</p>
               <p><i class="bi  bi-check-lg chec"></i>App exclusiva para registrar y comparar tu progreso</p>
               <p><i class="bi  bi-check-lg chec"></i>Descuentos exclusivos en productos y servicios del gimnasio</p>
            </div>
            <div class="precio-contenedor">
              <div class="precio">
                $850MXN pago mensual
              </div>
            </div>
          </div>
        </div>
        <div class="columna columna col-12 col-md-6 col-sm-12 col-lg-3 col-xl-3 col-xxl-3">
          <i class="bi bi-gem icono-grande"></i>
          <p class="experiencia-titulo">Escultura Griega</p>
          <div class="row">
            <div class="col">
               <p class="pfn pfn5"><i class="bi bi-check-lg chec"></i>Acceso ilimitado a todas las instalaciones <b class="text-decoration-underline">por 1 año</b></p>
               <p><i class="bi bi-check-lg chec"></i>Entrenamiento personalizado con un entrenador certificado.</p>
               <p><i class="bi  bi-check-lg chec"></i>Plan nutricional hecho a la medida</p>
               <p><i class="bi  bi-check-lg chec"></i>App exclusiva para registrar y comparar tu progreso</p>
               <p><i class="bi  bi-check-lg chec"></i>Descuentos exclusivos en productos y servicios del gimnasio</p>
            </div>
            <div class="precio-contenedor">
              <div class="precio">
                $7000MXN pago anual
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
</section>
  <br><br><br><br><br><br><br><br><br><br>
</div>